[submodule "external/CommonLibSSE"]
	path = external/CommonLibSSE
	url = git@github.com:Ryan-rsm-McKenzie/CommonLibSSE.git
	branch = master
[submodule "external/CommonLibSSE_SE"]
	path = external/CommonLibSSE_SE
	url = git@github.com:Ryan-rsm-McKenzie/CommonLibSSE.git
	branch = master
[submodule "external/CommonLibVR"]
	path = external/CommonLibVR
	url = git@github.com:alandtse/CommonLibVR.git
	branch = vr
